# requirements.txt
streamlit
networkx
matplotlib
polygon-api-client
nltk
beautifulsoup4
gensim
feedparser
stop-words
nest_asyncio
transformers
torch
torch_geometric
sec-edgar-downloader
sentence-transformers
pandas
pyvis
aiohttp
py2neo==2024.1.1
lxml
spacy==3.7.5
pyopenssl
service-identity
