streamlit
google-generativeai
networkx
matplotlib
polygon-api-client
nltk
beautifulsoup4
gensim
feedparser
stop-words
nest_asyncio
transformers
torch>=2.6.0
torch-geometric>=2.6.0
sec-edgar-downloader
sentence-transformers
pandas
pyvis
aiohttp
neo4j
lxml
spacy
pyopenssl
service-identity
plotly
yfinance
dowhy
fredapi
numpy==1.26.4
econml
