# requirements.txt
streamlit
google-generativeai
networkx
matplotlib
polygon-api-client
nltk
beautifulsoup4
gensim
feedparser
stop-words
nest_asyncio
transformers
torch
torch_geometric
sec-edgar-downloader
sentence-transformers
pandas
pyvis
aiohttp
neo4j
lxml
spacy
pyopenssl
service-identity
plotly
yfinance
py2neo>=2021.2.3
